div.div-articles-wrapper{
    background-color: palegoldenrod;
    width: 80%;
    height: 500px;
    margin: auto;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: goldenrod !important; /*overrides inline style*/
}