div.div-articles-wrapper{
    background-color: palegoldenrod;
    width: 95%;
    height: 700px;
    margin: auto;
}

.MuiDataGrid-root .MuiDataGrid-row:hover {
    background-color: goldenrod !important; /*overrides inline style*/
}

.MuiDataGrid-root .MuiDataGrid-window {
    overflow-x: hidden !important; /*overrides inline style*/
}

.MuiTypography-root.details-modal {
    background-color: goldenrod !important; /*overrides inline style*/
}

.MuiBox-root {
    background-color: palegoldenrod !important;
    text-align: center;
    padding: 10px;
}