div.div-login-wrapper{
    background-color: palegoldenrod;
    width: 30%;
    margin: auto;
}

.MuiButton-contained.submit-login{
    background-color: goldenrod;
}

.google-login{
    width: 100%;
    height: 36px;
    background-color: dodgerblue;
    color: white;
}